<!-- Promo Block -->
<section class="g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after g-min-height-100vh g-flex-centered g-py-100" style="background-image: url(../../../assets/img-temp/1920x1080/img5.jpg);">
  <div class="container g-color-white text-center g-z-index-1">
    <div class="mb-5">
      <h2 class="g-font-weight-700 g-font-size-40 g-font-size-70--md text-uppercase g-mb-30">
        We are
        <span class="u-text-animation u-text-animation--typing"></span>
      </h2>
      <p class="g-font-size-24">Clean and fully responsive Template.</p>
    </div>

    <a class="js-go-to btn u-btn-outline-white g-color-white g-bg-white-opacity-0_1 g-color-black--hover g-bg-white--hover g-font-weight-600 text-uppercase g-rounded-50 g-px-30 g-py-13" href="#" data-target="#content">Get Started</a>
  </div>
</section>
<!-- End Promo Block -->

{{yield}}
